<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @message.time %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Image:</b>
  <%= @message.image %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
