<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :commented_user_id %>
  <%= f.hidden_field :message_id %>
  <%= f.hidden_field :user_nick_name %>
  <%= f.hidden_field :user_head_photo_url %>

  <div class="field">
    <%= f.text_area :content, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit :value => '评论' %>
  </div>
<% end %>
