<p id="notice"><%= notice %></p>

<p>
  <b>昵称:</b>
  <%= @user.email %>
</p>

<p>
  <b>密码:</b>
  <%= @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
